---
import heroImage from '/src/assets/Hero/HeroBackground.webp';
---

<section class="hero">
    <div class="text">
        <h1>Conquistando <br> salud y bienestar cada día</h1>
        <h2>Iniciativa independiente sin fines de lucro</h2>
    </div>

    <div class="video-container">
        <video 
            class="hero-video"
            autoplay 
            muted 
            loop 
            playsinline
            controlslist="nodownload"
        >
            <source src="/PropositoSerUno/HeroVideo.mp4" type="video/mp4" />
            Tu navegador no soporta el elemento video
        </video>
    </div>
</section>

<style define:vars={{ heroBg: `url(${heroImage.src})` }}>
    .hero {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; 
        text-align: center;
        width: 100%;
        height: 750px; 
        padding: 74px 20px 0 20px;
        color: var(--white);
    }

    .hero::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: var(--heroBg);
        background-repeat: no-repeat;
        background-size: 100% 882px;
        background-position: center top; 
        z-index: 0;
    }

    .text {
        position: relative;
        z-index: 2;
    }

    h1 {
        font-weight: 600;
        font-size: clamp(42px, 5vw, 64.5px); 
        margin-bottom: 40px;
        line-height: 1.2;
    }
    
    h2 {
        font-weight: 400;
        font-size: clamp(22px, 2.5vw, 31.5px);
    }

    .video-container {
        position: absolute;
        top: 370px;
        width: 100%;
        max-width: 780px;
        aspect-ratio: 16 / 9;
        z-index: 10;
    }

    .hero-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    }

    .hero::after {
        content: "";
        display: block;
        margin-bottom: 200px; 
    }

    @media (min-width: 1280px) {
        .hero {
            height: 882px;
        }
    }

    @media (max-width: 1280px) and (min-width: 769px) {
        .hero {
            height: 840px;
        }

        .hero::before {
            background-position: center -40px; 
        }
    }

    @media (max-width: 768px) {
        .video-container {
            position: absolute;
            top: auto; 
            top: 450px;
            width: 95%;
            max-width: 600px;
        }

        .hero::before {
            clip-path: inset(0 0 25vh 0);
        }

        .hero {
            height: 115vh;
            margin-bottom: -25vh;
        }

        .hero-video {
            border-radius: 12px;
        }

        h1 {
            line-height: 1.4;
            margin-bottom: 35px;
        }

        h2 {
            font-size: 24px;
            line-height: 1.5;
            text-wrap: balance;
        }
    }
</style>