---
import heroImage from '../../../assets/HeroBackground.webp';
---

<section class="hero">
    <div class="text">
        <h1>Conquistando <br> salud y bienestar cada día</h1>
        <h2>Iniciativa independiente sin fines de lucro</h2>
    </div>

    <div class="video-container">
        <video 
            class="hero-video"
            autoplay 
            muted 
            loop 
            playsinline
            controlslist="nodownload"
        >
            <source src="/PropositoSerUno/HeroVideo.mp4" type="video/mp4" />
            Tu navegador no soporta el elemento video
        </video>
    </div>
</section>

<style define:vars={{ heroBg: `url(${heroImage.src})` }}>
    .hero {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; 
        text-align: center;
        width: 100%;
        height: 118vh;
        padding: 74px 20px 160px 20px; 
        background-image: var(--heroBg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        color: var(--white); 
    }
    
    h1 {
        font-weight: 600;
        font-size: 64.5px;
        margin-bottom: 29px;
        line-height: 1.34;
        letter-spacing: 0.3px;
    }
    
    h2 {
        font-weight: 400;
        font-size: 31.5px;
    }

    .video-container {
        position: absolute;
        top: 370px;
        width: 100%;
        max-width: 790px;
        aspect-ratio: 16 / 9;
        z-index: 10;
    }

    .hero-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 42px;
        }
        
        h2 {
            font-size: 22px;
        }

        .hero {
            height: 100svh; 
        }
        
        .video-container {
            position: absolute;
            top: auto; 
            top: 450px;
            width: 90%;
            max-width: 600px;
        }
    }
</style>