---
---

<footer>
    <div class="footer-content">
        <a href="/PropositoSerUno/">Redes Sociales</a>
        <a href="/PropositoSerUno/aviso-legal">Aviso Legal</a>
        <a href="/PropositoSerUno/e-mails-de-psu">e-mails de PSU</a>
    </div>
</footer>

<style>
footer {
    background: var(--brand-900);
    box-shadow: var(--shadow-top);
    display: flex;
    justify-content: center;
    color: var(--white);
    text-wrap: balance;
    border-bottom: 13px solid var(--brand-orange-dark);
    padding: 0 20px 70px;
}

.footer-content {
    display: flex;
    gap: 180px;
    max-width: 1200px;
    width: 100%;
    padding: 60px 0;
    font-weight: 500;
    font-family: var(--open-sans-font);
}

footer a {
    font-size: 22px;
    height: fit-content;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        gap: 40px;
        text-align: center;
        padding: 60px 20px 0;
    }
}   
</style>