---
---

<main>
    <div class="hero-content">
        <h1>Conquistando Salud y Bienestar</h1>
        <p>Sé parte de Propósito Ser Uno: un espacio consciente para la evolución mental y el desarrollo personal y espiritual.</p>
    </div>
    <div class="hero-buttons">
        <a href="/PropositoSerUno/programa" class="programa">Explora el programa</a>
        <a href="/PropositoSerUno/fundadores" class="fundadores">Conoce a los fundadores</a>
    </div>
</main>

<style>
    main {
        text-align: center;
        margin-top: 20px;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .hero-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 48px;
    }

    .programa, .fundadores {
        padding: 6px 24px;
        border-radius: 20px;
        font-weight: 600;
        transition: all 0.3s ease;
        border: 2px solid transparent;
        display: inline-block;
    }

    .programa {
        background-color: #f1f1f1;
        color: #2c0db3;
    }

    .fundadores {
        border-color: #f1f1f1;
        color: #f1f1f1;
    }

    .fundadores:hover {
        background-color: #f1f1f1;
        color: #2c0db3;
    }

    h1 {
        font-size: 48px;
        width: 400px;
        margin: auto;
        text-wrap: balance;
    }

    p {
        width: 700px;
        font-size: 24px;
        margin: auto;
        text-wrap: balance;
    }
</style>
