---
---

<section class="community-groups">
    <div class="container">
        <div class="content">

        <article class="group-detail">
            <h2><strong>Los grupos de la comunidad:</strong> el corazón de nuestro programa.</h2>
            <p class="italic">Son espacios donde el proceso de recuperación y bienestar se convierte en una experiencia colectiva, humana y transformadora.</p>
            <p>Sabemos que dicho proceso requiere compromiso, constancia, guía y apoyo. Por eso, en Propósito Ser Uno contamos con la fuerza de la comunidad y de los grupos.</p>
            <p>
                A menudo se subestima el poder de compartir con personas que están transitando un proceso similar. Sin embargo, es en el encuentro, la escucha y la presencia compartida donde emerge una nueva fuerza interior.
            </p>
            <p>Es ahí donde la transformación se vuelve real.</p>
            <p class="italic small">Viví la experiencia de participar en tu grupo.</p>
        </article>

        <article class="group-detail">
            <h2><strong>Dialogo Social</strong></h2>
            <p>Nos reunimos regularmente en Encuentros Virtuales que abarcan desde reuniones temáticas, reuniones con actividades prácticas y hasta encuentros entre miembros de la comunidad para compartir conocimientos y experiencias.</p>
            <p>El diálogo social adquiere <strong>un gran poder transformador</strong> cuando se desarrolla en un espacio de cuidado y respeto, abierto y motivador.</p>
            <p class="italic">Eres libre de participar en las reuniones que desees.</p>
            <p>Los encuentros son altamente recomendados, ya que resultan esenciales para el proceso de evolución y desarrollo.</p>
            <p>Si lo preferís, <strong>podés participar de forma anónima</strong> utilizando un sobrenombre o solo tu nombre.</p>
        </article>
        
        </div>
    </div>
</section>

<style>
    .community-groups {
        background-color: var(--brand-orange-light);
        padding: 46px 20px 56px 20px;
        color: var(--text);
        display: flex;
        justify-content: center;
    }

    .container {
        max-width: 800px;
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 34px;
    }

    article {
        display: flex;
        flex-direction: column;
        gap: inherit;
    }

    .content p, h2 {
        font-family: var(--open-sans-font);
        font-size: 21px;
        line-height: 1.6;
        font-weight: 400;
        color: var(--text-light);
        text-indent: 20px; 
        text-align: left;
    }

    h2 {
        font-family: var(--lora-font);
        font-size: 30px;
        margin-top: 56px;
        text-indent: 0;
    }

    .content strong {
        font-weight: 600;
        color: var(--text);
    }

    .italic {
        font-style: italic;
    }

    .small {
        margin: 10px auto auto auto;
    }

    @media (max-width: 768px) {

        .community-groups { 
            padding: 60px 20px; 
        }

        .content p { 
            text-indent: 30px; 
        }
    }
</style>