---
import { Image } from 'astro:assets';

import HeroTitle from '../../../assets/hero/HeroTitle.webp'
import HeroSubtitle from '../../../assets/hero/HeroSubtitle.webp';
---

<section class="hero">
    <div class="content">
        <div class="text">
            <h1><Image src={HeroTitle} alt="Hero Title" /></h1>
            <Image src={HeroSubtitle} alt="Hero Subtitle" class="subtitle"/>
        </div>
    </div>
</section>

<style>
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; 
        padding: 165px 20px 70px 20px; 
        color: var(--white); 
        background-color: var(--brand-orange);
    }

    .content {
        max-width: 800px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    h1 img {
        width: 740px;
        height: auto;
    }

    .subtitle {
        width: 430px;
        height: auto;
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 47px;
        }

        img {
            width: 300px;
        }
    }
</style>