---
import { Image } from 'astro:assets';

import HeroTitle from '/src/assets/Hero/HeroTitle.webp';
import HeroSubtitle from '/src/assets/Hero/HeroSubtitle.webp';
---

<section class="hero">
    <div class="content">
        <div class="text">
            <h1><Image src={HeroTitle} alt="Comunidad PSU" loading="eager" fetchpriority="high"/></h1>
            <Image src={HeroSubtitle} alt="Bienvenido/a!" class="subtitle" loading="eager" fetchpriority="high" />
        </div>
    </div>
</section>

<style>
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; 
        padding: 165px 20px 70px 20px; 
        height: 450px;
        color: var(--white); 
        background-color: var(--brand-orange);
    }

    .content {
        max-width: 800px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    h1 img {
        width: 740px;
        height: auto;
    }

    .subtitle {
        width: 430px;
        height: auto;
    }

    @media (max-width: 768px) {
        .hero {
            padding: 115px 20px 76px 20px; 
            justify-content: center;
        }
        
        h1 img {
            width: 300px;
        }

        .subtitle {
            width: 220px;
        }
    }
</style>