---
---

<section class="hero">
    <div class="content">
        <div class="text">
            <h1>Testimonios</h1>
            <h2>Descubre cómo Propósito Ser Uno impacta en la vida de las personas.</h2>
        </div>
    </div>
</section>

<style>
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; 
        padding: 115px 20px 76px 20px; 
        color: var(--white); 
        background-color: var(--bg-section-brand-light);
    }

    .content {
        max-width: 800px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    h1 {
        font-weight: 600;
        font-size: 94px;
        margin-bottom: 28px;
        line-height: 1.3;
        color: var(--brand-900);
        text-align: center;
    }

    h2 {
        font-family: var(--open-sans-font);
        font-size: 21px;
        line-height: 1.6;
        font-weight: 400;
        color: var(--text);
        max-width: 600px;
        text-align: center;
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 47px;
        }
    }
</style>